.leftside {
    background-color: chocolate;
    height: 100vh;
}
.rightside {
    height: 100vh;
    width: 150%;
    max-width: unset;
}

a{
    font-style: oblique;
    background-color: black
    opacity: 60%;
    font-size: 120%;
    color:antiquewhite;
    font-weight: 600;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
html, body
{
    height: 100%;
}
