.leftside {
    background-color: chocolate;
    height: 100vh;
}
.rightside {
    height: 100vh;
    width: 150%;
    max-width: unset;
}

a{
    font-style: oblique;
    background-color: black
    opacity: 60%;
    font-size: 120%;
    color:antiquewhite;
    font-weight: 600;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
html, body
{
    height: 100%;
}

.about-div{
    max-height: 100%;
    margin-bottom: 50px;
}

.education-div{
    max-height: 100%;
}

.interests-div{
    max-height: 100%;
    height: 500px;
}

.additional-div{
    height: 600px;
}

.about-div{
    height: 600px;
}

.skills-div{
    height: 600px;
}